<template>

    <template if:true={contactId}>
        <template if:true={list}>
            <lightning-card  variant="Narrow"  title="Tests" icon-name="standard:metrics">
                <lightning-button-group slot="actions">
                    <lightning-button class="slds-m-top_small" variant="brand" type="submit" name="update" label="New test" onclick={handleNew}> </lightning-button>
                </lightning-button-group>
                <template if:true={testList.data}>
                    <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols" role="grid">
                        <thead>
                            <tr class="slds-line-height_reset">
                                <th aria-label="date" aria-sort="none" scope="col">
                                    <div class="slds-truncate" title="Test date"> Test date</div>
                                  </th>
                                  <th aria-label="type" aria-sort="none" scope="col">
                                    <div class="slds-truncate" title="Test type"> Test type</div>
                                  </th>
                                  <th aria-label="for" aria-sort="none" scope="col">
                                    <div class="slds-truncate" title="Test for"> Test for</div>
                                  </th>
                                  <th aria-label="res" aria-sort="none" scope="col">
                                    <div class="slds-truncate" title="Test result"> Test result</div>
                                  </th>
                                  <th class="" scope="col">
                                    <div class="slds-truncate slds-assistive-text" title="Actions">Actions</div>
                                  </th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <template for:each={testList.data} for:item="test">
                                <tr key={test.Id} class="slds-hint-parent">
                                    <th key={test.Id} data-label="Test date" scope="row">
                                      <div key={test.Id} class="slds-truncate" title="Test date"> {test.Test_date__c}</div>
                                    </th>
                                    <th key={test.Id} data-label="Test type" scope="row">
                                        <div key={test.Id} class="slds-truncate" title="Test type"> {test.Test_type__c} </div>
                                      </th>
                                      <th key={test.Id} data-label="Test for" scope="row">
                                        <div key={test.Id} class="slds-truncate" title="Test for">{test.Test_for__c} </div>
                                      </th>
                                      <th key={test.Id} data-label="Test result" scope="row">
                                        <div key={test.Id} class="slds-truncate" title="Test result">{test.Result__c}</div>
                                      </th>
                                      <th >
                                        <div class="slds-float_right">
                                            <lightning-button-group>
                                                <lightning-button-icon data-name={test.Id} icon-name="utility:edit" alternative-text="Edit"   class="slds-m-left_xx-small" title="Edit" onclick={handleEdit}></lightning-button-icon> 
                                                <lightning-button-icon data-name={test.Id} icon-name="utility:delete" alternative-text="Delete"   class="slds-m-left_xx-small" title="Delete" onclick={handleDelete}></lightning-button-icon>
                                            </lightning-button-group>
                                        </div>
                                      </th>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </template>
                <template if:true={testList.error}>
                    error
                    {testList.error}>
                </template>
            </lightning-card>
        </template>
        <template if:true={edit}>
            <lightning-record-edit-form record-id={testId} object-api-name="Test__c" onsuccess={handleSucess}>
                <lightning-card  variant="Narrow"  title="Test" icon-name="standard:metrics">       
                    <lightning-button-group slot="actions">
                        <lightning-button class="slds-m-top_small"  name="cancel" label="Cancel"  onclick={handleCancel}>  </lightning-button>
                        <lightning-button class="slds-m-top_small" variant="brand" type="submit" name="save" label="Save">  </lightning-button>

                    </lightning-button-group>
                    <lightning-messages>
                    </lightning-messages>
                    <lightning-layout>
                        <lightning-layout-item padding="around-small" size="6">
                            <lightning-input-field field-name="Contact__c" variant="label-inline" value={contactId} class="slds-hide">  </lightning-input-field>
                            <lightning-input-field field-name="Test_date__c" variant="label-inline">  </lightning-input-field>
                            <lightning-input-field field-name="Test_for__c" variant="label-inline">  </lightning-input-field>
                            <lightning-input-field field-name="Test_type__c" variant="label-inline">  </lightning-input-field>
                            <lightning-input-field field-name="Result__c" variant="label-inline">  </lightning-input-field>
                            <lightning-input-field field-name="Test_brand__c" variant="label-inline">  </lightning-input-field> 
                        </lightning-layout-item>
                        

                    </lightning-layout>
               
            </lightning-card>
        </lightning-record-edit-form>
        </template>


    </template>
    
</template>