<template>
    <!--
    <lightning-card title="LibsChartjs" icon-name="custom:custom19">
        <div class="slds-grid slds-wrap slds-grid--pull-padded">
            <div if:true={chartjsInitialized} class="slds-col--padded slds-size--1-of-1">
                <canvas class="linechart" width="400" height="300" lwc:dom="manual"></canvas>
            </div>
            <div if:false={chartjsInitialized} class="slds-col--padded slds-size--1-of-1">
                ChartJs Not loaded yet
            </div>
            <div class="slds-col--padded slds-size--1-of-1">
                Footer
            </div>
        </div>
        
    </lightning-card>
    -->
    <!--
    <div if:true={chartjsInitialized} class="slds-col--padded slds-size--1-of-1">
        <canvas class="linechart" width="400" height="300" lwc:dom="manual"></canvas>
    </div>
    -->
    <div class="chart slds-m-around_medium" lwc:dom="manual"></div>


</template>