<template>
    <template if:true={symptom}>
        <lightning-card  variant="Narrow"  title={reportDate} icon-name="standard:metrics">
            <lightning-button-group slot="actions">
                <lightning-button-icon icon-name="utility:chevronleft"  disabled={prevDisabled} alternative-text="prev" onclick={handlePrev} title="prev"></lightning-button-icon>
                <lightning-button-icon icon-name="utility:chevronright"  disabled={fwdDisabled} alternative-text="next" onclick={handleNext} title="next"></lightning-button-icon>
                <lightning-button-icon icon-name="utility:breadcrumbs"  disabled={fwdDisabled} alternative-text="today" onclick={handleToday} title="today"></lightning-button-icon>
                <lightning-button icon-name="utility:close" disabled={saveDisabled} onclick={handleCancel} label="Cancel"></lightning-button>
                <lightning-button icon-name="utility:check" disabled={saveDisabled} onclick={handleSave} label="Save"></lightning-button>
            </lightning-button-group>
            <div class="c-container">
                <lightning-layout>
                    <lightning-layout-item class="slider-left" padding="around-small">
                        <lightning-slider
                            data-name="morning"
                            label="Morning"
                            step="0.1"
                            value={symptom.Temperature_morning__c}
                            min="34"
                            max="42"
                            type="vertical"
                            onchange={handleTempChange}>
                        </lightning-slider>
                    </lightning-layout-item>
                    <lightning-layout-item class="slider" padding="around-small">
                        <lightning-slider
                            data-name="day"
                            label="Day"
                            step="0.1"
                            value={symptom.Temperature_day__c}
                            min="34"
                            max="42"
                            type="vertical"
                            onchange={handleTempChange}>
                        </lightning-slider>
                    </lightning-layout-item>
                    <lightning-layout-item class="slider" padding="around-small">
                        <lightning-slider
                            data-name="evening"
                            label="Evening"
                            step="0.1"
                            value={symptom.Temperature_evening__c}
                            min="34"
                            max="42"
                            type="vertical"
                            onchange={handleTempChange}>
                        </lightning-slider> 
                    </lightning-layout-item>
                </lightning-layout> 
                <lightning-layout multiple-rows="true">
                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-slider
                            data-name="cough"
                            label="Cough"
                            step="1"
                            value={symptom.Cough__c}
                            min="0"
                            max="4"
                            type="horisontal"
                            onchange={handleSympChange}>
                        </lightning-slider>
                    </lightning-layout-item>
                    
                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-slider
                            data-name="breath"
                            label="Breath"
                            step="1"
                            value={symptom.Breath_problems__c}
                            min="0"
                            max="4"
                            type="horisontal"
                            onchange={handleSympChange}>
                        </lightning-slider>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-slider
                            data-name="chest"
                            label="Chest pain"
                            step="1"
                            value={symptom.Chest_pain__c}
                            min="0"
                            max="4"
                            type="horisontal"
                            onchange={handleSympChange}>
                        </lightning-slider>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-slider
                            data-name="smell"
                            label="Smell and taste"
                            step="1"
                            value={symptom.Smell_and_taste__c}
                            min="0"
                            max="4"
                            type="horisontal"
                            onchange={handleSympChange}>
                        </lightning-slider>
                    </lightning-layout-item>
                    
                </lightning-layout>
                <lightning-layout multiple-rows="true">
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="checkbox" data-name="nosymtoms" label="No symptoms" checked={symptom.No_symptoms__c} name="nosymptoms" onchange={handleCheckboxChange}></lightning-input>
                        <lightning-input type="checkbox" data-name="infected" label="Infected contact" checked={symptom.Infected_contact__c} name="infected" onchange={handleCheckboxChange}></lightning-input>
                        <lightning-input type="checkbox" data-name="visited" label="Visited hiigh risk place" checked={symptom.Visited_high_risk_place__c} name="visited" onchange={handleCheckboxChange}></lightning-input>
                    </lightning-layout-item>

                    <lightning-layout-item size="6" padding="around-small">
                        <template if:true={symptom.Visited_high_risk_place__c}>
                            <lightning-input type="text" label="Name of visited place" value={symptom.Name_of_visited_place__c} onchange={handlePlaceChange}></lightning-input>
                        </template>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-textarea name="other" label="Other symptoms" value={symptom.Other_symptoms__c} onchange={handleOtherChange}></lightning-textarea>
                        
                    </lightning-layout-item>
                </lightning-layout>

            </div>
        </lightning-card>
    </template>
</template>
