<template>

    <template if:true={contactId}>
        <lightning-record-edit-form record-id={contactId} object-api-name="Contact">
            <lightning-card  variant="Narrow"  title="Health Profile" icon-name="standard:metrics">
                <lightning-button-group slot="actions">
                    <lightning-button class="slds-m-top_small" variant="brand" type="submit" name="update" label="Update"> </lightning-button>
                </lightning-button-group>
                <lightning-messages>
                </lightning-messages>
                <lightning-layout>
                    <lightning-layout-item padding="around-small" size="6">
                        <lightning-input-field field-name="FirstName" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Birthdate" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Sex__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Length_cm__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Weight_kg__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Smoker__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Smoked_years__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Daily_reminder__c" variant="label-inline">  </lightning-input-field>
                        
                    </lightning-layout-item>
                    <lightning-layout-item padding="around-small" size="6">
                        <lightning-input-field field-name="LastName" variant="label-inline"> </lightning-input-field>
                        <lightning-input-field field-name="Asthma__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Lung_disease__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="immunocompromised__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Diabetes__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Dialysis__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Liver_disease__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Heart_conditions__c" variant="label-inline">  </lightning-input-field>
                        <lightning-input-field field-name="Helathcare_worker__c" variant="label-inline">  </lightning-input-field>
                        
                        
                    </lightning-layout-item>

                </lightning-layout>
                            
                
               
                

               
            </lightning-card>
        </lightning-record-edit-form>
    </template>
    
</template>